{% extends 'base.html' %}

{% block title %}Add song to playlist{% endblock %}

{% block content %}
<h1 class='display-1'>Adding songs to {{playlist.name}}</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    <div class='mb-3'>
        {% for field in form
        if field.widget.input_type != 'hidden'%}

        <span>
            {{field.label(class_='form-label')}}
            {{field(class_='form-control')}}
        </span>

        {% for error in field.erorrs%}

        <span>{{errors}}</span>

        {% endfor %}
        {% endfor %}
    </div>
    <button class='btn btn-lg btn-primary'>Add song to playlist</button>
</form>

{% endblock %}